<h1>List of Contacts</h1>
<ul><% @contacts.each do |contact| %>
  <li>
    <%= link_to contact.to_s, contact_path(contact) %>
  <% end %></li>
</ul>

<div><%= link_to 'Create Contact', new_contact_path %></div>
